header {
    .container {
    display: flex;
    
        .row {
            .col-5 {
            .logo run
                    }
            }
            .col-7 
                .links{ 
                    align-items: right;
                    text-decoration: none;
                    align-items: center;
                    justify-content: left;
                     padding-right: 10px; padding-bottom: 30px; padding-top: 10px;
                     margin-top: 20px; margin-bottom: 20px;
                    
                    }
        }
    
    
    }
            