$colores:$colores (
    color: blue ,
    color: #1233eb,
    color: #25262c,
    color: #fff,
    color: #061d9bf5,

);

$fuentes:$fuentes (
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif,
 );

 $bordes:$bordes (
    border: 1px solid rgba(3, 1, 112, 0.767),
    border-color: #3d82eb,
    border: 1px solid rgb(5, 9, 253),
    );

