@import "variables";
@import "fuentes";
@import "header";
@import "main";
@import "footer";
@import "mediaqueris";
*{ 
    box-sizing: border-box;
    padding: 0%;
    margin: 0%;
    text-decoration: none;
    list-style: none;

}

h2 {
    text-align: center;
    color: #25262c;
}

.mb-3 {
    align-items: center;
    display: block;
    width: 50%;
    padding: 0.375rem 0;
    margin-bottom: 0;
    line-height: 1.5;
    color: #1233eb;
    background-color: transparent;
    border: solid transparent;
    border-width: 1px 0;  
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
   
}

.img-thumbnail {
  padding: 0.25rem;
  background-color: #fff;
  border: 1px solid #02244700;
  border-radius: 0.60rem;
  max-width: 100%;
  height: auto;
}

.texto {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    font-style:normal;
    border: 1px solid #02244700;
    padding: left 10px; padding-bottom: 30px; padding-top: 10px;
    margin-top: 40px; margin-bottom: 20px;

}

.items {
    color: #1233eb;
    font-style: oblique;
    font-size: medium;
}

.img-thumbnail{
height: auto;
margin-top: 60px;
align-items: center;
justify-content: center


}

.d-grid {
    padding: 0.75rem;
}

.feauturette-inmo {
    color: #1233eb;
}

.text-muted {
font-style: oblique;
font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
color: #25262c;

}
.bd-placeholder-img {
    width: 300px;
    align-items: center;
}

.col-lg-3 {
    align-items: center;
    align-content: center;
    justify-content: center;
    padding: 20px;
}


